{% include "@Ato/Default/head.html.twig" %}
<div class="content">
        <div class="col-sm-3 bd-sidebar">
            {% include "@Ato/Default/sidebar1.html.twig" %}
        </div>
        <div class="col-sm-6">
            {% include "@Ato/Default/content.html.twig" %}
        </div>
        <div class="col-sm-3 bd-toc">
            {% include "@Ato/Default/sidebar2.html.twig" %}
        </div>
</div>
{% include "@Ato/Default/footer.html.twig" %}
